<%# 생일에 근접할수록 색이 달라지면 재밌을거다 %>
<% if character.remain_days(date) == 0 %>
  <button class="button small danger"><%= character.d_day date %></button>
<% elsif character.remain_days(date) == 1 %>
  <button class="button small warning"><%= character.d_day date %></button>
<% elsif character.remain_days(date) <= 7 %>
  <button class="button small success"><%= character.d_day date %></button>
<% elsif character.remain_days(date) <= 28 %>
  <button class="button small info"><%= character.d_day date %></button>
<% else %>
  <button class="button small"><%= character.d_day date %></button>
<% end %>
