<div class="tile double bg-cyan" data-click="transform">
  <%= link_to controller: 'characters', action: 'detail', character_id: character.id do %>
  <div class="tile-content email">
    <div class="email-image">
      <img src="foo.png">
    </div>
    <div class="email-data">
      <span class="email-data-title"><%= character.name_ko %></span>
      <span class="email-data-text"><%= character.name_jp %></span>
      <span class="email-data-text"><%= character.name_en %></span>
      <span class="email-data-subtitle"><%= character.birthday_to_s %></span>
    </div>
  </div>
  <div class="tile-status">
    <span class="name"><%= character.d_day date %></span>
  </div>
  <% end %>
</div>
