<div class="tile tile-wide-x bg-cyan" data-click="transform" data-role="tile">
  <%= link_to character_path(character.id) do %>
    <div class="tile-content tile-content-character fg-white">
      <img src="/static/thumb/<%= character.anime_db_id %>.jpg">
      <div class="data-wrapper">
        <span class="data-title"><%= character.name_ko %></span>
        <span class="data-text"><%= character.name_jp %></span>
        <span class="data-text"><%= character.name_en %></span>
        <span class="data-subtitle"><%= character.birthday_to_s %></span>
      </div>
      <span class="tile-badge bg-darkRed"><%= character.d_day date %></span>
    </div>
  <% end %>
</div>
