<article class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">
      <%= character.name_ko %>
    </h3>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <p class="list-group-item-text">이름</p>
      <h4 class="list-group-item-heading">
        <%= character.name_ko %><br/>
        <%= character.name_en %>
      </h4>
    </div>
    <div class="list-group-item">
      <p class="list-group-item-text">생일</p>
      <h4 class="list-group-item-heading">
        <%= character.birthday_to_s %>
		<%= render 'characters/d_day', character: character, date: date%>
      </h4>
    </div>
  </div>
  <div class="panel-footer">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <%= link_to controller: 'characters', action: 'detail', slug: character.slug do %>
        <button class="btn btn-default">
		  <i class="fa fa-info"></i>
          캐릭터 페이지
        </button>
        <% end %>
      </div>
    </div>
  </div>
</article>
