<div class="jumbotron">
  <h1>Happy Birthday, Waifu</h1>
  <p>
	<% waifu_url ="http://rigvedawiki.net/r1/wiki.php/%EB%8A%94%20%EB%82%98%EC%9D%98%20%EC%8B%A0%EB%B6%80" %>
	<a href="<%= waifu_url %>">신부</a>의 생일을 잊어서 이벤트를 준비하지 못하셨나요?
	Happy Birthday, Waifu 를 이용해서 신부의 생일을 기억하세요.
	그리고 가족, 친구와 같이 신부의 생일을 축하해주세요.
  </p>
  <a class="btn btn-lg btn-primary"
	 href="<%= url_for controller: "welcome", action: 'about' %>" role="button">
	자세히 &raquo;
  </a>
</div>

<% if @today_list %>
  <section>
	<h2>오늘(<time><%= @month %>월 <%= @day %>일</time>)</h2>
  <div class="row">
	<% @today_list.each do |character| %>
    <div class="col-sm-4">
      <%= render 'simple_card', character: character, date: @today %>
    </div>
	<% end %>
  </div>
  </section>
<% end %>

<% if @tomorrow_list %>
  <section>
	<h2>내일(<time><%= @tomorrow_month %>월 <%= @tomorrow_day %>일</time>)</h2>
  <div class="row">
	<% @tomorrow_list.each do |character| %>
    <div class="col-sm-4">
      <%= render 'simple_card', character: character, date: @today %>
    </div>
	<% end %>
  </div>
  </section>
<% end %>

<% if @approach_list %>
  <section>
	<h2>Approaching...</h2>
  <div class="row">
	<% @approach_list.each do |character| %>
    <div class="col-sm-4">
      <%= render 'simple_card', character: character, date: @today %>
    </div>
	<% end %>
  </div>
<% end %>
<section>

<section>
<%= render_shareable :turbolinks => true,
:buttons => ['twitter', 'google_plus', 'tumblr', 'facebook'],
:facebook => {:turbolinks => false} %>
</section>

<br/>
