<!-- calendar -->
<div id="birthday-calendar" data-role="calendar"
  data-day-click="dayClick" data-date="<%= @today_str %>"></div>

<div>
  <% @month_table.each do |month, character_list| %>
    <div class="panel">
      <div class="heading">
        <span class="title"><%= month % 12 == 0 ? 12 : month % 12 %>월</span>
      </div>
      <div class="content">
        <ul class="unstyled">
          <% character_list.each do |character| %>
            <li class="character-list-elem">
              <span class="birthday-text">
                <%= character.birthday_to_s %>
              </span>

              <%= link_to character_path(character.id) do %>

                <span class="d-day-text">
                  <%= render 'characters/d_day', character: character, date: @today %>
                </span>

                <%= character.name_ko %> |
                <%= character.name_en %> |
                <%= character.name_jp %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
