<h2><%= @character.name_ko %></h2>
<dl class>
  <dt>Name</dt>
  <dd><%= @character.name_en %></dd>
  <dt>名前</dt>
  <dd><%= @character.name_jp %></dd>
  <dt>이름</dt>
  <dd><%= @character.name_ko %></dd>
  <dt>생일</dt>
  <dd><%= @character.birthday_to_s %></dd>
  <dt>D-Day</dt>
  <dd><%= render 'd_day', character: @character, date: @today %><dd>
</dl>

<% if @character.anime_db_img_url %>
  <img src="<%= @character.anime_db_img_url %>"
	  class="img-responsive"/>
<% end %>

<!--
<h2>Favorite / Notification</h2>
<p><%= @favorite_count %>명의 노답인생이 캐릭터의 생일을 축하할 예정입니다.</p>
<% if not user_signed_in? %>
  <div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Twitter 로그인을 하면 생일 알림을 사용할 수 있습니다.
  </div>
<% else %>

  <% if @favorite %>
    <form method="post"
	    action="<%= url_for controller: 'favorites', action: 'toggle', character_id: @character.id %>">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <button type="submit" class="btn btn-primary">알림 해제</button>
    </form>
  <% else %>
    <form method="post"
	    action="<%= url_for controller: 'favorites', action: 'toggle', character_id: @character.id %>">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <button type="submit" class="btn btn-default">알림 등록</button>
    </form>
  <% end %>

<% end %>
-->

<h2>External Link</h2>
<ul>
  <% if !@character.external_url.empty? %>
    <li>
	    <%= link_to "외부 링크", @character.external_url %>
    </li>
  <% end %>
  <li>
	  <%= link_to "Anime Characters Database", @character.anime_character_db_url %>
  </li>
</ul>

<section>
  <%= render_shareable :turbolinks => true,
  :buttons => ['twitter', 'google_plus', 'tumblr', 'facebook'],
  :facebook => {:turbolinks => false} %>
</section>

<%= render 'disqus' %>
