<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="if1live">

  <%= render '/characters/twitter_card', character: @character %>


  <title>Happy Birthday, Waifu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="metro">
  <div class="container">
    <h1><a href="/">Happy Birthday, Waifu</a></h1>

    <!-- menu -->
    <nav class="horizontal-menu">
      <ul>
        <li><%= link_to "All", controller: "characters", action: "list" %></li>
        <li><%= link_to "Help", controller: "welcome", action: "support" %></li>

        <% if user_signed_in? %>
		  <li>
            <%= link_to controller: "users", action: "show" do %>
			  <i class="icon-twitter"> </i> <%= current_user.name %>
			<% end %>
          </li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete,
			data: { confirm: "로그아웃하시겠습니까?" } %>
          </li>
		<% else %>
		  <li>
			<%= link_to user_omniauth_authorize_path(:twitter) do %>
			  <i class="icon-twitter"> </i> Login
			<% end %>
          </li>
		<% end %>
      </ul>
    </nav>
	<!-- // menu -->

	<%= yield %>

    <!-- footer -->
	<footer>
      <ul class="horizontal-menu compact">
        <li>&copy; 2015 Happy Birtday, Waifu</li>
		<li><a href="https://twitter.com/waifu_birth_bot">@waifu_birth_bot</a></li>
		<li><a href="https://twitter.com/if1live">@if1live</a></li>
		<li><a href="https://github.com/if1live/happy-birthday-waifu">Repository</a></li>
      </ul>
    </footer>
  </div>

  <!-- lazy js loading -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- GA -->
  <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-43577716-5', 'auto');
	ga('send', 'pageview');
  </script>

  <!-- notify -->
  <script>
  <% if notice %>
  (function(){
	var not = $.Notify({
	  caption: "Authorization",
	  content: "<%= notice %>",
	  timeout: 10000 // 10 seconds
	});
  })();
  <% end %>
  </script>
  <!-- // notify -->
</body>
</html>
