<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HappyBirthdayWaifu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- header -->
  <div class="container">
	<div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <% if request.path == '/' %>
            <li role="presentation" class="active">
              <a href="#">Home</a>
            </li>
          <% elsif %>
            <li role="presentation">
              <a href="/">Home</a>
            </li>
          <% end %>

          <!--
          <li role="presentation"><a href="#">About</a></li>
          -->

          <% if request.path == (url_for controller: "characters", action: "list") %>
            <li role="presentation" class="active">
              <a href="#">All</a>
            </li>
          <% elsif %>
            <li role="presentation">
              <%= link_to "All", controller: "characters", action: "list" %>
            </li>
          <% end %>

		  <% if user_signed_in? %>
			<% if request.path == (url_for controller: "users", action: "show") %>
			<li role="presentation" class="active">
			<% else %>
			<li role="presentation">
			<% end %>
			  <%= link_to controller: "users", action: "show" do %>
			  <i class='fa fa-twitter'> </i> <%= current_user.name %>
			  <% end %>
			</li>
			<li role="presentation">
			  <%= link_to destroy_user_session_path, method: :delete,
			  data: { confirm: "로그아웃하시겠습니까?" } do %>
			    Logout
		      <% end %>
			</li>
		  <% else %>
			<li role="presentation">
			  <%= link_to user_omniauth_authorize_path(:twitter) do %>
				<i class='fa fa-twitter'></i> Login
			  <% end %>
			</li>
		  <% end %>
        </ul>
      </nav>
      <h3 class="text-muted">
		<a href="/">
		Happy Birthday Waifu
		</a>
	  </h3>
    </div>
	<hr/>
  </div>

  <div class="container">
	<!-- flash begin -->
	<% if notice %>
	<div class="alert alert-success alert-dismissible" role="alert">
	  <%= notice %>
	</div>
	<% end %>

	<% if alert %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <%= alert %>
	</div>
	<% end %>
	<!-- flash end -->

	<%= yield %>
  </div>

  <!-- footer -->
  <div class="container">
	<hr/>
	<footer class="footer">
      <p>&copy;
		<a href="https://twitter.com/if1live">@if1live</a>
		| <a href="https://github.com/if1live/happy-birthday-waifu">Repository</a>
		2015</p>
    </footer>
  </div>

  <!-- lazy js loading -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
